* {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 320px;
  padding: 20px;
}

.addtask input {
  width: 320px;
  padding: 10px;
}

.pinned div, .all div {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 320px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;;
  padding: 10px;
  margin-top: 0;
}

.pinned div:first-child, .all div:first-child {
  border-top: 1px solid #000;
}

h2 {
  margin: 17px 0 5px 5px;
  font-size: 100%;
  font-weight: 600;
}
